.rest-card-wrapper {
    /* display: flex; */
    width: 96%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 20px;
    padding: 15px;
}

#business-img {
    object-fit: cover;
    width: 300px;
    height: 250px;
    border-radius: 10px;
}

.business-title {
    font-size: 24px;
}

.business-elements {

    margin-left: 20px;
}