/* Regular text */
@import url('https://fonts.googleapis.com/css2?family=Castoro&family=DM+Serif+Text&family=Merriweather&family=Sawarabi+Gothic&display=swap');
/* Logo */
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:ital,wght@0,900;1,900&display=swap');

html, body {
    font-family: sans-serif;
    margin: 0;
    background-color: #efefef;
    font-family: 'Sawarabi Gothic', sans-serif;
}

.body {
    background-color: #efefef;
}

h1, h2, h3 {
    font-family: 'Castoro', serif;
}

a {
    color: indianred;
    text-decoration: underline;
}

::selection {
    background-color: rgb(229, 134, 134);
    color: white;
}

.foodie-container {
    width: 60%;
    max-width: 900px;
    height: 100%;
    padding: 0px;
    margin: 0 auto;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.foodie-navbar {
    display: flex;
    width: 100%;
    background-color: #efefef;
}

.nav-search-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.nav-search {
    display: flex;
    align-items: flex-end;
    background-color: white;
    border-radius: 0 10px 0 0;
    padding: 15px 0 0 0;
}

.nav-search-input {
    width: 100%;
    background-color: #efefef;
    padding: 15px;
    margin: 0 10px;
    border-radius: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-search-input input {
    width: 60%;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 15px;
    font-family: 'Merriweather', serif;
}

.nav-search-input input:focus {
    box-shadow: 0px 0px 10px rgb(81, 81, 81, .3);
}

.nav-links {
    width: 25%;
    float: right;
    margin-right: 50px;
    background-color: #f9f9f9;
    border-radius: 0 0 5px 5px;
    display: none;
    /* box-shadow: -2px 2px 0px rgb(81, 81, 81, .1); */
    border-left: 2px solid rgb(81, 81, 81, .05);
    border-bottom: 2px solid rgb(81, 81, 81, .05);
}

.nav-links a {
    /* color: rgb(92, 92, 92); */
    color: indianred;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    font-style: italic;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.nav-links a:hover {
    background-color: #efefef;
    border-radius: 0 0 5px 5px;
}

.icon {
    float: right;
    margin-right: 10px;
    font-size: 16pt;
}

.logo {
    width: fit-content;
    padding: 50px;
    background-color: indianred;
    font-weight: bold;
    color: white;
    font-size: 36pt;
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-style: italic;
    cursor: pointer;
    border-radius: 0 0 5px 0;
    /* font-family: 'Kaushan Script', cursive; */
}

.content {
    padding: 2em;
}

.review-container {
    width: 100%;
}
.review-title {
    display: flex;
    font-family: 'Merriweather', serif;
}
.user-info {
    padding: 5px 0 0 10px;
    text-align: center;
}
.review-content {
    padding: 10px;
}
.review-content h4 {
    font-family: 'Merriweather', sans-serif;
    font-size: 12pt;
    font-weight: bold;
}